.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  padding: 5px 29px 1px 20px;
  background-color: white;
  position: relative; /* Certifique-se de que o header tenha um contexto de posicionamento */
}

/* Icon */
.icon {
  width: 65px;
  height: 50px;
  margin-right: 20px;
  margin-left: 10px;
}

/* fim Icon */
.logo {
  width: 600px;
  display: flex;
  align-items: center;
}

/* txt */
.txtLog {
  font-weight: 800;
  font-size: 35px;
}

.navBar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.link{ 
  color: black;  
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  margin: 0px 18px 0px 18px;;
  font-weight: 600;
}

.link:hover{
  text-decoration: underline;
}