.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  padding: 5px 29px 1px 20px;
  background-color: white;
  position: relative; /* Certifique-se de que o header tenha um contexto de posicionamento */
}

/* Icon */
.icon {
  width: 65px;
  height: 50px;
  margin-right: 20px;
  margin-left: 10px;
}

/* fim Icon */
.logo {
  width: 600px;
  display: flex;
  align-items: center;
}

/* txt */
.txtLog {
  font-weight: 800;
  font-size: 35px;
}

/* barra slideBar */
.menuButton {
  font-size: 30px;
  background-color: transparent;
  color: black;
  border: none;
  position: fixed;
  top: -5px;
  right: -5px;
  z-index: 1000;
  cursor: pointer;
  padding: 10px 15px;
}

.sidebar {
  width: 0;
  height: 100vh; /* Tornar a barra lateral da altura da tela */
  position: fixed; /* Use fixed para que a barra lateral fique fixa na tela */
  top: 0;
  right: 0;
  background-color: #6ba596;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px ;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 999; /* Certifique-se de que a barra lateral fique acima do conteúdo */
}

.sidebar.open {
  width: 250px;
}

.sidebar h2 {
  color: black;
  margin-top: 20px;
  margin-left: 27px;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}
