.pageContainer {
  font-family: Arial, sans-serif;
  background-color: #f2f5fa;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.breadcrumb {
  margin-bottom: 20px;
  color: #555;
  font-size: 0.9rem;
}

.breadcrumb a {
  color: #007BFF;
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.profile {
  display: flex;
  gap: 20px;
}

.profileCard {
  flex: 1;
  text-align: center;
}

.doctorImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
  border: 2px solid #007BFF;
}

.doctorName {
  font-size: 1.8rem;
  color: #333;
}

.doctorSpecialty {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 5px;
}

.doctorLocation {
  font-size: 1rem;
  color: #888;
}

.details {
  flex: 2;
}

.details h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.doctorBio {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.5;
}

.link {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
}

.link:hover {
  color: #0056b3;
  text-decoration: underline;
}

.notFound {
  text-align: center;
  font-size: 1.5rem;
  color: #555;
  margin-top: 50px;
}

.whatsappButton {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #25D366; /* Cor oficial do WhatsApp */
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.whatsappButton:hover {
  background-color: #1da851;
}
