.main {
    background-Color: #dfdddd;
    display: flex;
    flex-Direction: column;
  }
  
  
  /* container */
  
  .container {
    flex: 1;
  }
  
  .imgCarosel{
    width: 100%;
    height: 500px;
  }

  .butMain{
    margin-top: 100px;
    margin-left:20px;
    width: 1500px;
    height: 500px;
    display: flex;
    justify-content: space-between;
  }

  .butt {
    background-color: inherit;
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 250px;
    height: 250px;
    margin-top: -50px;
    margin-left: 230px;
    border-radius: 100%;
    transition: 0.3s ease;
    border: 1px solid #6ba596;
    box-shadow: 8px 7px 9px rgba(0, 0, 0, 0.2);
  }

  .butt:hover {
    background-color: #6ba596;
    box-shadow: inset #6ba596;
  }


  .iconBut{
    margin: 70px;
    
  }


  .txtBut{
    text-align: center;
    margin-top: 10px;
    margin-left: 240px;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
  }