.main {
    background-Color: #dfdddd;
    display: flex;
    flex-Direction: column;
  }
  
  
  /* container */
  
  .container {
    flex: 1;
  }
  
  .imgCarosel{
    width: 100%;
    height: 500px;
  }

  .butMain{
    margin-top: 100px;
    margin-left:20px;
    width: 1500px;
    height: 500px;
    display: flex;
    justify-content: space-between;
  }

  .butt {
    background-color: #6ba596;
    cursor: pointer;
    position: relative;
    display: flex; /* Flexbox para alinhar o conteúdo */
    align-items: center; /* Alinhar verticalmente */
    justify-content: center; /* Centralizar horizontalmente o grupo (ícone e texto) */
    gap: 20px; /* Espaço entre o ícone e o texto */
    width: 1450px;
    height: 100px;
    padding: 20px;
    margin-top: -50px;
    margin-left: 230px;
    border-radius: 50px;
    transition: 0.3s ease;
    border: 1px solid #6ba596;
    box-shadow: 8px 7px 9px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.butt:hover {
    background-color: #3b5d54;
    color: white;
}

.txtBut {
    font-size: 40px;
    font-weight: 700;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
    color: black;
    margin: 0; /* Remove margens indesejadas */
    text-align: center; /* Apenas por segurança */
}

.txtBut:hover {
   color: white;
}

.iconBut {
    margin: 0; /* Remove margens adicionais */
}